.h1Erro404 {
    font-size: 7rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
}

.pErro404 {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    margin-bottom: 1rem;
}

.divErro404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #002653;
}

.divErro404 img {
    width: 20rem;
}