:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(180deg, #0678FE 0%, #0676FA 50%, #034898 100%);
}
